

body {

	padding-left: 400px;
}
#box{
   
border: solid black 5px;
	width: 500px;
	height: 400px;
	margin: 50px auto;
	margin-left: 0;

}

   

.box1,.box2,.box3,.box4{

    width: 100px;
    height: 40px;
    border: 4px black solid;
   	display: inline-flex;
   margin: 8px;


}
#imgbox{

	width: 500px;
	height: 400px;
}
.a{

	height: 40px;
	width: 100px;
}